#container {
    display: grid;
    grid-template-rows: 1fr 50px auto;
    height: 100vh;
}
.pages {
    grid-row: 1;

    .page {
        
    }
}
#pageSelect {
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: stretch;

    input {
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background: #00000044;
        border: none;
        margin: 10px;
        cursor: pointer;
        appearance: none;
    }
    input:checked {
        background: #ffffff88;
        outline: 2px solid #00000044;
    }
}